<div class="row">
    <div class="col-md-12">
        <div class="col-md-5">
            <div style="text-align:center;">
                <% if student.user.personal_information && student.user.personal_information.avatar %>
                    <%= image_tag  student.user.personal_information.avatar.url, size: "200x160" %>
                <% else %>
                    <%= image_tag student.user.personal_information.avatar.url, size: "200x160" %>
                <% end %>
            </div>
            <hr>
            <div class="panel panel-default">
                <div class="panel-heading">Current status</div>
                <div class="panel-body welcome-panel">
                    Student name: <b><%= student.name %></b>
                    <br/>
                    Uploaded documents until now: <%= student.user.documents.count %>
                    <br/>
                    Next meeting: <%= student_meeting_date %>
                </div>
            </div>
            <div class='panel panel-default'>
                <div class="panel-heading">Uploaded Documents</div>
                <div class="panel-body welcome-panel">
                    <% if student.user.documents.any? %>
                        <table style="width:100%">
                            <th>Name</th> 
                            <th>Size</th>
                            <th>Actions</th> 
                            <% student.user.documents.each do |document| %>
                                <tr>
                                    <td><%= document.file_file_name %></td>
                                    <td><%= document.file_file_size.to_f / 1000 %> kB</td>
                                    <td><%= link_to document.download_url do %>
                                      <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                      <% end %>
                                    </td>
                                </tr>
                            <% end %>
                        </table>
                    <% else %>            
                        <p class="uploadedFiles"> Student has 0 documents uploaded for this project.</p>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading welcome-panel">
                    Create Appointments
                </div>
                <div class="panel-body calendar-panel">
                    <div id="scheduler_here_<%= student.id %>" class="dhx_cal_container" style='width:100%; height:523px;'>
                        <div class="dhx_cal_navline">
                            <div class="dhx_cal_prev_button">&nbsp;</div>
                            <div class="dhx_cal_next_button">&nbsp;</div>
                            <div class="dhx_cal_today_button"></div>
                            <div class="dhx_cal_date"></div>
                            <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
                            <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
                            <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
                        </div>
                        <div class="dhx_cal_header">
                        </div>
                        <div class="dhx_cal_data">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
