<ul class="nav nav-tabs" data-request-id="<%= @request.id %>">
  <li class="active"><a href="#mainTab" data-toggle="tab">Project Overview</a></li>
  <% @request.diploma_project.students.each do |student| %>
    <li class='projectTab' data-student-id= "<%= student.id %>" data-teacher-id= "<%= @request.teacher.id %>"><a href="#tabbed_content_<%= student.id %>" data-toggle="tab"><%= student.name %></a></li>
  <% end %>
</ul>
<br/>
<br/>
<div class="tab-content">
    <div class="tab-pane active" id="mainTab">
        <%= render 'main_tab' %>
    </div>
    <% @request.diploma_project.students.each do |student| %>
        <div class="tab-pane" id="tabbed_content_<%= student.id %>"></div>
  <% end %>
</div>