</style>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-5">
           <div style="text-align:center;">
                <% if @personal_information && @personal_information.avatar %>
                    <%= image_tag @personal_information.avatar.url, size: "200x160" %>
                <% else %>
                    <%= image_tag 'default_avatar.png', size: "200x160" %>
                <% end %>
            </div>
            <hr>
            <div class="panel panel-default">
                <div class="panel-heading">Current status</div>
                <div class="panel-body welcome-panel">
                    You are currently enlisted to: <b><%= @student.diploma_project.teacher.name %></b>
                    <br/>
                    Your Diploma title is: <b><%= @student.diploma_project.name %></b>
                    <br/>
                    Uploaded documents until now: <b><%= current_user.documents.count %></b>
                    <br/>
                    Next meeting: <b><%= @meeting_date %></b>
                    <br/>
                    Unread Notifications: <b><%= @notifications.count %></b>
                    <br/>
                </div>
            </div>
            <div class="panel panel-default">
                <%= form_for Document.new, :url => documents_path, html: { multipart: true, class: 'fileupload', id: 'uploadForm'} do |f| %>  
                    <div class="panel-heading clearfix">
                        <span class="btn addDocuments fileinput-button pull-right ui-btn-inline">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <span>Upload files...</span>
                            <input name="document[file]" multiple="" type="file" id='fileInput'>
                            <%= f.hidden_field :user_id, :value => current_user.id %>
                        </span>
                    </div>
                    <div class="panel-body welcome-panel">
                        <% if current_user.documents.any? %>
                            <table style="width:100%">
                                <th>Name</th> 
                                <th>Size</th>
                                <th>Actions</th> 
                                <% current_user.documents.each do |document| %>
                                    <tr>
                                        <td><%= document.file_file_name %></td>
                                        <td><%= document.file_file_size.to_f / 1000 %> kB</td>
                                        <td><%= link_to document.download_url do %>
                                          <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                          <% end %>
                                        </td>
                                    </tr>
                                <% end %>
                            </table>
                        <% else %>            
                            <p class="uploadedFiles"> You have 0 documents uploaded.</p>
                        <% end %>
                        <hr class="uploadHr hidden">
                        <br class="uploadHr hidden"/>
                        <div class='row'>
                          <%= image_tag 'file.png', size: "90x90", class: 'uploadImage hidden' %>
                          <br/>
                          <p class='documentFileName'></p>
                        </div>
                        <hr class="uploadHr hidden">
                        <br class="uploadHr hidden"/>
                        <button type="submit" class="btn btn-primary start hidden startUpload">
                          <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                          <span>Start upload</span>
                        </button>
                        </div>
                        <% end %>
                        <button class="btn btn-default hidden cancelButton" onclick="reset($('#fileInput'))">
                          Cancel upload
                        </button>
            </div>
        </div>
        <div class="col-md-7">
        <div class="panel panel-default">
          <div class="panel-heading welcome-panel">
          Create Appointments
          </div>
          <div class="panel-body calendar-panel">
            <div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:523px;'>
             <div class="dhx_cal_navline">
               <div class="dhx_cal_prev_button">&nbsp;</div>
               <div class="dhx_cal_next_button">&nbsp;</div>
               <div class="dhx_cal_today_button"></div>
               <div class="dhx_cal_date"></div>
               <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
               <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
               <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
             </div>
             <div class="dhx_cal_header">
             </div>
             <div class="dhx_cal_data">
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<script>
   createScheduler("<%= @student.id %>", "<%=@enrolled_teacher.id%>");
</script>