<div class="row">
  <div class="col-md-12">
  </div>
</div>
<div class="col-md-12">
    <div class="row">
      <div class="col-md-3" style='text-align: center;'>
        <br/>
        <%= image_tag current_user.personal_information.avatar.url, size: "200x160" %>
        <br/>
        <hr>
        <%= form_for current_user, :html => { class: 'upload_avatar', :multipart => true, :id => "fileupload" } do |f| %>
          <%= fields_for :personal_information, current_user.personal_information do |fields| %>
            <%= fields.file_field :avatar, class: 'form-control' %>
            <br/>
          <% end %>
          <%= f.submit 'Update avatar', :class => 'btn btn-info' %>
        <% end %>
      </div>
      <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            Personal Information
          </div>
          <div class="panel-body informationPanel">
            <%= form_for current_user, html: {id: 'edit_info'} do |f| %>

             <%= fields_for :personal_information, current_user.personal_information do |fields| %>
                <div class="form-group">
                  <%= fields.label :first_name, class: 'control-label' %>
                  <%= fields.text_field :first_name, class: 'form-control' %>
                </div>
                 <div class="form-group">
                  <%= fields.label :last_name, class: 'control-label' %>
                  <%= fields.text_field :last_name, class: 'form-control' %>
                </div>

                  <%= fields.hidden_field :user_id, :value => current_user.id %>

                  <div class="form-group">
                    <%= fields.label :code, 'Registration Number', class: 'control-label' %>
                    <% if current_user.personal_information.code.blank? %>
                      <%= fields.text_field :code, class: 'form-control' %>
                    <% else %>
                      <br/>
                      <%= current_user.personal_information.code %>
                    <% end %>
                  </div>

                  <% if current_user.student? %>
                    <div class="form-group">
                      <%= fields.label :year, 'Year of study', class: 'control-label' %>
                      <% if current_user.personal_information.year.blank? %>
                        <%= fields.select :year, options_for_select([['1',1],['2',2],['3',3],['4',4]]), {:prompt => 'Please Select'},  { class: 'form-control' } %>
                      <% else %>
                        <br />
                        <%= current_user.personal_information.year %>
                      <% end %>
                    </div>
                  <% end %>
                   <div class="form-group">
                    <%= fields.label :faculty, class: 'control-label' %>
                    <% if current_user.personal_information.section_id.blank? %>
                      <%= collection_select :faculty, :id, Faculty.all.order(:name), :id,:name, {:include_blank => 'Please Select'}, class: 'form-control' %>
                    <% else %>
                      <br />
                      <%= Faculty.find_by(id: Section.find_by(id: current_user.personal_information.section_id).faculty_id).name %>
                    <% end %>
                  </div>
                  <% if current_user.student? %>
                    <div class="form-group">
                      <%= fields.label :section, class: 'control-label' %>
                      <% if current_user.personal_information.section_id.blank? %>
                        <%= fields.collection_select :section_id, Section.all, :id, :name, {:include_blank => 'Please Select'}, class: 'form-control' %>
                      <% else %>
                        <br / >
                        <%= Section.find_by(id: current_user.personal_information.section_id).name %>
                      <% end %>
                    </div>
                  <br />
                <% else %>
                  <%= fields.hidden_field :section_id, value: Section.first.id %>
                <% end %>
              <% end %>
              <div style="text-align: center">
                <%= f.submit 'Save data', :class => 'btn btn-default addDocuments' %>
              </div>
            <% end %>
          </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">Notifications and Emails settings</div>
            <div class="panel-body welcome-panel">
                <table class="table personalSettings">
                    <th style="border-top:none;">Name</th>
                    <th style='text-align:center; border-top:none;'>Enable/Disable</th>
                    <tr>
                        <td>Receive notifications</td>
                        <td style='text-align:center;'>
                            <%= check_box "notifications", "active", {checked: current_user.personal_information.notifications, class: 'toggleNotifications', id: "notif_#{current_user.personal_information.id}" }%>
                        </td>
                    </tr>
                    <tr>
                        <td>Receive emails</td>
                        <td style='text-align:center;'><%= check_box "emails", "active", {checked: current_user.personal_information.emails, class: 'toggleEmails', id: "email_#{current_user.personal_information.id}"}%></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</div>