<div class="panel panel-default teacherProjects" data-teacher-id="<%= current_user.teacher.id %>">
  <!-- Default panel contents -->
  	<div class="panel-heading clearfix">Your Projects
  		<!-- Button trigger modal -->
		<button type="button" class="btn btn-primary pull-right addDocuments" data-toggle="modal" data-target="#myModal">
			<i class="fa fa-plus" aria-hidden="true"></i> Add new project
		</button>
	</div>
  	<div class="panel-body informationPanel">
		<table class="table diploma_projects" class="display" data-source="<%= retrieve_projects_teacher_url(current_user.teacher.id) %>">
			<thead>
				<th style="text-align:left">Name</th>
				<th>No. of students</th>
				<th>Duration</th>
				<th>Description</th>
				<th>Upload Docs</th>
				<th>Actions</th>
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</div>
</div>




<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Diploma Project</h4>
      </div>
        <%= form_for DiplomaProject.new, remote: true do |f| %>
	      	<div class="modal-body">
	        	<div class="form-group">
	        		<%= f.label :name, class: 'control-label' %>
	        		<%= f.text_field :name, class: 'form-control' %>
	        	</div>

	        	<div class="form-group">
	        		<%= f.label :max_students, class: 'control-label' %>
	        		<%= f.text_field :max_students, class: 'form-control' %>
	        	</div>

	        	<div class="form-group">
	        		<%= f.label :duration, class: 'control-label' %>
	        		<%= f.text_field :duration, class: 'form-control' %>
	        	</div>

	        	<div class="form-group">
	        		<%= f.label :description, class: 'control-label' %>
	        		<%= f.text_field :description, class: 'form-control' %>
	        	</div>
	        	<%= f.hidden_field :teacher_id, :value => current_user.teacher.id %>
		    </div>
		    <div class="modal-footer">
		        <div class="btn-group" role="group" aria-label="...">
					<%= f.button "Save project", class: "btn btn-primary addDocuments" %>
					<%= f.button "Clear inputs", :type => "reset", class: 'btn btn-info' %>
					<button type="button" class="btn btn-default informationPanel" data-dismiss="modal">Close modal</button>
				</div>
		    </div>
        <% end %>
    </div>
  </div>
</div>


<div class="modal fade" id="showUploadModal" tabindex="-1" role="dialog" aria-labelledby="myProjectModal"></div>

<style>

.fa-3 {
    font-size:1.5em;
    padding-top: 0.2cm;
}

.fa-4 {
    font-size:4em;
}

.startDocUpload {
	margin-top: 5px;
}

.addDocumentation {
    margin-top: 5px;
}
</style>