<div class='col-md-12'>

	<div class='row'>
		<div class="<%= Student.any? ? 'col-md-8' : 'col-md-12' %>">
		<div class="panel panel-default">
			<div class="panel-heading">Export Data</div>
		  	<div class="panel-body">
		  		<table class='table'>
		  			<th style='border-top:none;'>Name</th>
		  			<th style='border-top:none;'>Description</th>
		  			<th style='border-top:none;'>Actions</th>
				  	<% Report.all.each do |report| %>
				  		<tr>
				  			<td><%= report.title.humanize %></td>
				  			<td><%= report.description %></td>
				  			<td><span class='sendReport' data-report-id="<%= report.id %>" data-report-type="<%= report.title.gsub('s_report', '') %>"><i data-toggle='tooltip' style='cursor:pointer;' data-placement='top' title='Send report' class="fa fa-paper-plane" aria-hidden="true"></i></span></td>
				  		</tr>
				  	<% end %>
			  	</table>
		 	</div>
		</div>
		</div>
		<% if Student.any? %>
			<div class='col-md-4'>
				<div id="studentDiplomas"></div>
			</div>
		<% end %>
  	</div>
	<div class='col-md-6' style='text-align:center;'>
		<div class="panel panel-default">
			<div class="panel-heading">Enroll Requests</div>
		  	<div class="panel-body addDocuments">
		    	<div id="requests"></div>
		 	</div>
		</div>
	</div>

	<div class='col-md-6'>
		<div class="panel panel-default" style='text-align:center;'>
			<div class="panel-heading">New users</div>
		  	<div class="panel-body addDocuments">
		    	<div id="users"></div>
		 	</div>
		</div>
	</div>
	<div class='col-md-6' style='text-align:center;'>
		<div class="panel panel-default">
			<div class="panel-heading">Documents Uploaded</div>
		  	<div class="panel-body addDocuments">
		    	<div id="documents"></div>
		 	</div>
		</div>
	</div>

	<div class='col-md-6' style='text-align:center;'>
		<div class="panel panel-default">
			<div class="panel-heading">Diploma Project Selection Rate</div>
		  	<div class="panel-body addDocuments">
		    	<div id="projects"></div>
		 	</div>
		</div>
	</div>
</div>

<script>
	 var startDate;
  var endDate;
  var applyDates = function(){
    startDate = $("#start-date").val();
    endDate   = $("#end-date").val();
    loadChart();
    $('#js-date-range').popover('hide')
  }
  var resetChart = function(){
    startDate = "<%= (Time.zone.now.to_date - 6.days).strftime('%m/%d/%Y') %>"
    endDate   = "<%= Time.zone.now.to_date.strftime('%m/%d/%Y') %>"
    loadEmptyChart();
    $('#js-date-range').popover('hide')
  }
	loadAdminChart();
</script>
